<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/css/game.css">
        <script src="public/javascript/phaser.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="public/javascript/controller.js"></script>
    </head>
    <body>
        <script src="public/javascript/game.js"></script>
        <div id="detector" class="vague">
			<div class="pitch"><span id="pitch"></span></div>
        </div>
        <iframe width="1" height="1" wmode="transparent" src="https://www.youtube.com/embed/DYxrVBu2_gc?autoplay=1&loop=1&playlist=DYxrVBu2_gc" frameborder="0"></iframe>
    </body>
</html>